.services {
    background: url('/img/services.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .services-container {
        position: relative;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 3rem;

        .services-left {
            width: 100%;
            padding-right: 2rem;
            h1 {
                font-weight: bold;
                font-size: 3rem;
            }
            p {
                line-height: 1.5;
            }
        }
        .services-right {
            width: 100%;

            .services-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 300px 300px;
                grid-gap: 1rem;
                text-align: center;
    
                .services-items {
                    background: rgba(255, 255, 255, 0.1);
                    color: #fff;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    i {
                        font-size: 2rem;
                        color: $primary-color;
                    }
    
                    h3 {
                        margin: 1rem 0;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
    
                    p {
                        line-height: 1.5;
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
}